div.katex-container {
  display: inline-block;
}

div.sequent-lines {
  display: inline-block;
  text-align: center;
  margin: 0 1em;
}

div.separator {
  border-bottom: 1px solid black;
}

span.input {
  border: 1px dotted black;
}

span.input.focused {
  border: 1px solid black;
}
